* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.vote-wrapper {
  min-height: 100vh;
  background: #edf6fb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vote-card {
  position: relative;
  width: 900px;
  padding: 35px 40px;
  background: #5f8fc8;
  border-radius: 18px;
}

.vote-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  
}

.vote-header h2 {
  background: #8fe0e3;
  padding: 12px 60px;
  border-radius: 14px;
  font-size: 26px;
  font-weight: bold;
}

.app-logo {
  position: absolute;
  top: 20px;
  right: 30px; 
  text-align: center;
  color: white;
  
}

.app-logo img {
  width: 60px;
}

.vote-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.vote-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.candidate-box {
  width: 75%;
  background: #e9eef3;
  border-radius: 18px;
  padding: 14px 20px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.index {
  margin-right: 10px;
}

.name {
  flex: 1;
}

.party-icon img {
  width: 40px;
}

.vote-btn {
  padding: 10px 28px;
  background: #0b27ff;
  color: #fff;
  border: none;
  border-radius: 22px;
  font-size: 18px;
  cursor: pointer;
}

.vote-btn:hover {
  background: #081ed1;
}

.party-logo {
  width: 38px;
  height: 40px;
  border-radius: 50%;
  object-fit:contain;
  background: #fff;
  border: 2px solid #333;
}
